3to2==1.1.1
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
cryptography==2.1.4
EasyProcess==0.2.5
enum34==1.1.6
freeze==1.0.10
idna==2.7
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pdfkit==0.6.1
Pillow==6.2.0
pycrypto==2.6.1
pyperclip==1.7.0
PyVirtualDisplay==0.2.1
pyxdg==0.25
requests==2.21.0
SecretStorage==2.3.1
selenium==3.141.0
six==1.12.0
soupsieve==1.8
urllib3==1.24.1
virtualenv==16.4.1
